In [24]:
import numpy as np
import pandas as pd
import csv

# Reading data locally
df = pd.read_csv('dataSet/PSID.csv')

print('\n')

df

#get descriptive statistics
df.describe()

#to remove incomplete data from our DataFrame.
df.dropna()
#df.describe()


#to detect whether there are outliers


def outliers_modified_z_score(ys):
    threshold = 3.5

    median_y = np.median(ys)
    median_absolute_deviation_y = np.median([np.abs(y - median_y) for y in ys])
    modified_z_scores = [0.6745 * (y - median_y) / median_absolute_deviation_y
                         for y in ys]
    return np.where(np.abs(modified_z_scores) > threshold)

,Seq No,intnum,persnum,age,educatn,earnings,hours,kids,married
0,1,4,4,39,12.0,77250,2940,2,married
1,2,4,6,35,12.0,12000,2040,2,divorced
2,3,4,7,33,12.0,8000,693,1,married
3,4,4,173,39,10.0,15000,1904,2,married
4,5,5,2,47,9.0,6500,1683,5,married
5,6,6,4,44,12.0,6500,2024,2,married
6,7,6,172,38,16.0,7000,1144,3,married
7,8,7,4,38,9.0,5000,2080,4,divorced
8,9,7,170,39,12.0,21000,2575,3,married
9,10,7,171,37,11.0,0,0,5,married
10,11,10,3,48,13.0,13201,2080,98,divorced
11,12,10,171,47,12.0,22000,1920,3,married
12,13,10,178,40,12.0,0,0,0,separated
13,14,11,171,38,16.0,12143,585,0,married
14,15,13,3,41,12.0,0,0,2,married
15,16,13,4,43,15.0,30000,1504,0,never married
16,17,14,2,41,16.0,13000,1560,0,never married
17,18,14,3,36,14.0,24000,1701,1,married
18,19,16,3,31,10.0,0,0,2,married
19,20,18,170,38,12.0,0,0,2,married
20,21,18,172,39,12.0,11250,968,3,married
21,22,18,173,45,12.0,0,0,3,married
22,23,18,177,44,17.0,8500,972,2,married
23,24,22,3,36,12.0,22883,1523,1,married
24,25,23,3,43,17.0,34500,2125,2,divorced
25,26,23,172,39,12.0,5100,425,4,married
26,27,39,2,45,16.0,8000,1736,2,married
27,28,40,4,31,12.0,4000,260,3,married
28,29,40,5,31,12.0,31000,2925,0,widowed
29,30,40,170,32,12.0,12000,1175,3,married
...,...,...,...,...,...,...,...,...,...
4826,4827,9246,2,40,12.0,18000,1920,1,married
4827,4828,9248,1,43,14.0,70000,2295,2,divorced
4828,4829,9249,2,36,12.0,0,0,0,never married
4829,4830,9252,2,49,9.0,505,52,5,married
4830,4831,9254,2,37,6.0,9000,1713,3,married
4831,4832,9255,170,35,16.0,49000,1936,0,never married
4832,4833,9256,2,42,12.0,12000,1970,5,married
4833,4834,9262,1,41,11.0,25000,2205,2,married
4834,4835,9263,2,44,13.0,8000,1080,3,married
4835,4836,9264,1,40,9.0,0,0,3,never married
4836,4837,9266,1,49,9.0,15000,1480,3,never married
4837,4838,9269,2,50,12.0,15857,1820,2,married
4838,4839,9271,2,50,12.0,9600,2190,5,married
4839,4840,9273,2,31,0.0,0,0,3,married
4840,4841,9274,2,42,3.0,0,0,3,married
4841,4842,9276,2,35,1.0,0,0,3,married
4842,4843,9279,2,46,99.0,19000,1209,0,married
4843,4844,9280,2,30,6.0,0,0,2,married
4844,4845,9281,2,39,9.0,0,0,2,never married
4845,4846,9284,1,34,12.0,300,357,2,separated
4846,4847,9285,4,41,8.0,1800,410,98,divorced
4847,4848,9286,2,45,12.0,20080,2040,2,divorced
4848,4849,9292,2,41,6.0,13000,2448,5,married
4849,4850,9293,1,32,10.0,0,0,4,never married
4850,4851,9294,2,37,12.0,0,0,2,married
4851,4852,9297,2,42,2.0,3000,1040,4,married
4852,4853,9301,2,43,12.0,0,0,2,married
4853,4854,9302,1,37,8.0,22045,2793,98,divorced
4854,4855,9305,2,40,6.0,134,30,3,married
4855,4856,9306,2,37,17.0,33000,2423,4,married